.cliens__list {
    border: none;
    
    display: flex;
    justify-content: center;
    margin: -15px;

    @include mq(notDesktop) {
        flex-wrap: wrap; 
    }  
}

.cliens__item {
    width: calc((100% / 2 - 2 * 15px);
    margin: 15px;

    @include mq(tablet) {
      width: calc((100% / 3 - 2 * 15px);
    }
    
}

// .cliens__item:last-child {
//     margin-right: 0;
// }

.cliens__link {
    height: 92px;
    @extend %flex;
    color: $color-icon;
    @include border($border-grey-color);
    box-sizing: border-box;
    border-radius: 4px;
    transition: color 250ms $kubik-rubik,
    border 250ms $kubik-rubik;

     &:hover,
     &:focus {
    color: $accent-color;
    @include border($accent-color);
}
}

.cliens__icon {
    width: 106px;
    height: 60px;

    fill: currentColor;
}