.footer {
    background-color: var(--background-second);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .container {
    text-align: center;

    @media screen and (min-width:1200px) {
      display: flex;
      align-items: baseline;
    }
    
}

.hz {
     @media screen and (min-width:768px) and (max-width:1199px) {
      display: flex;
      justify-content: space-around;
      align-items: baseline;
    }
}

.adress {
    font-style: normal;
}

.adress__list {
    display: block;
}

.adress__link {
    @include fonts14;

    color: var(--grey-color);
    transition: color 250ms var(--kubik-rubik);

     &--map {
    color: var(--primary-white-color);
}

     &:hover,
     &:focus {
    color: var(--accent-color);
}
}



.adress__item:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width:1200px) {
      margin-bottom: 9px;
    }
}

.wrapper {
    margin-top: 60px;
    margin-bottom: 60px;

    @media screen and (min-width:768px) {
      margin-top: 0;
      margin-bottom: 0;
    }

    @media screen and (min-width:1200px) {
      margin-left: 70px;
    }
    
}

.footer__title {
    padding: 0;
    margin: 0;
    color: var(--primary-white-color);
    font-family: var( --main-font) ;
    @include fonts14(700, 14px, 1.14);
    text-transform: uppercase;
    
}