.hang {
    margin: -15px;
    @include mq(tablet) {
        display: flex;
        flex-wrap: wrap;
        
    }
}

.hang__item {
        margin: 15px;

    @include mq(tablet) {
        width: calc((100% / 2 - 2 * 15px);
    }

    @include mq(desktop) {
        width: calc((100% / 4 - 2 * 15px);
    }
}

.hang__thumb {
    padding: 0;
    border: none;
    background-color: $background-third;
    height: 120px;
    // width: 270px;
    border-radius: 4px;
    margin-bottom: 30px;

    @extend %flex;
    fill: $title-text-color;

}
.hang__icon {
    width: 70px;
    height: 70px;

}

.hang__subtitle {
    margin-bottom: 10px;
    color: $title-text-color;
    @include fonts14(700, 14px, 1.14);
    text-transform: uppercase;

    @include mq(mobile-only) {
        text-align: center;
        }
}

.hang__text {
    margin-bottom: 0;
    @include fonts14;
}