.hang {
     margin-left: -15px;
     margin-right: -15px;
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        
    }
}
.hang__section {
    padding-bottom: 0;
}
.hang__item {
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 30px;

    @media screen and (max-width:767px) {
        &:last-child {
        margin-bottom: 0;
        }
    }

    @media screen and (min-width:768px) {
        width: calc((100% / 2 - 2 * 15px);
    }

    @media screen and (min-width:1200px) {
        width: calc((100% / 4 - 2 * 15px);
    }
}

.hang__thumb {
    padding: 0;
    border: none;
    background-color: var(--background-third);
    height: 120px;
    // width: 270px;
    border-radius: 4px;
    margin-bottom: 30px;

    @extend %flex;
    fill: var(--title-text-color);

}
.hang__icon {
    width: 70px;
    height: 70px;

}

.hang__subtitle {
    margin-bottom: 10px;
    color: var(--title-text-color);
    @include fonts14(700, 14px, 1.14);
    text-transform: uppercase;

    @media screen and (max-width:767px) {
        text-align: center;
        }
}

.hang__text {
    margin-bottom: 0;
    @include fonts14;
}