.logo {
  display: block;

  color: var(--accent-color);
  font-family: var(--secondary-font);

  @include mq(notDesktop) {
    @include fonts(700, 24px, 1.17, 0.03em);
  }
  @include fonts(700, 26px, 1.2, 0.03em);

  &--dark {
    color: var(--title-text-color);
  }

  &--light {
    color: var(--primary-white-color);
  }
}
.logo__header {
  padding-top: 16px;
  padding-bottom: 16px;

  @include mq(tablet) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @include mq(desktop) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo__footer {
  margin-bottom: 20px;
}
