.mini-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;

  background-color: $background-first;
  cursor: pointer;
  @extend %flex;

  border-radius: 50%;

  @include border(rgba(0, 0, 0, 0.1));
  transition: fill 250ms $kubik-rubik;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
  &__icon {
    width: 18px;
    height: 18px;
  }
}

.header-btn {
  display: inline-flex;
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;

  z-index: 10;

  @include mq(tablet) {
    display: none;
  }

  &:hover .projects__overlay,
  &:focus .projects__overlay {
    opacity: 1;
    transform: translateY(0);
  }
}

.icon-open {
  opacity: 1;
  transition: transform 250ms ease, opacity 250ms ease;
}

.header-btn.is-active .icon-open {
  opacity: 0;
}

.icon-close {
  opacity: 0;
  transition: transform 250ms ease, opacity 250ms ease;
}

.header-btn.is-active .icon-close {
  opacity: 1;
}
