/* без точек */
.list {
    
    padding: 0;
    margin: 0;
    list-style: none;

}
/* без подчеркиваний */

.link {
    text-decoration: none;
    outline: transparent;
    color: currentColor;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

// без прокрутки

.no-scroll {
  overflow-y: hidden;
}
